@import "tailwindcss";

body {
    background-color: #0D1321;
}

button {
  cursor: pointer;
}

@theme {
  --font-lalezar: "Lalezar";

  --color-primarydark: #0D1321;
  --color-primaryblue: #1D2D44;
  --color-primarymediumblue: #3E5C76;
  --color-primarylightblue: #748CAB;
  --color-primarybege: #F0EBD8;

  --color-secondarygray: #C8C8C8;
  --color-secondarypurple: #613DC1;
  --color-secondarygreen: #32E875;
  --color-secondaryyellow: #E3B341;
}