@import "tailwindcss";

body {
    background-color: #0D1321;
}

button {
  cursor: pointer;
}

/* ::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

@theme {
  --font-lalezar: "Lalezar";
  --font-inter: "inter";

  --color-primarydark: #0D1321;
  --color-primaryblue: #1D2D44;
  --color-primarymediumblue: #3E5C76;
  --color-primarylightblue: #748CAB;
  --color-primarybege: #F0EBD8;

  --color-secondarygray: #C8C8C8;
  --color-secondarypurple: #613DC1;
  --color-secondarygreen: #32E875;
  --color-secondaryyellow: #E3B341;

  --animation-gradient: gradient 8s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: var(--animation-gradient);
}